.form-container {
  background: #D7F7F5;
  width: 450px;
  padding: 20px;
  margin-top: 60px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #1D444F;
  color: #1D444F;
  h1 {
    margin-bottom: 30px;
    margin-top: 0px;
  }
}
