.body {
  // background: $light-gray;
}

.form-container {
  background: $yellow;
  width: 450px;
  padding: 20px;
  margin-top: 60px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px $gray;
  color: $blue;
  h1 {
    margin-bottom: 30px;
    margin-top: 0px;
  }
}
