// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "form";
@import "show";

body {
  height: 100%;
  background: linear-gradient(rgba(37, 40, 57, 1), rgba(103, 112, 119, 1), rgba(242, 182, 50, 0.8));
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

